@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  background-image: url(./Images/starnight.png);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
  height:100vh;
}



