@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.App {
  /* background-image: url(./Images/space.jpg); */
  background-size: cover;
  background-repeat: repeat;
  background-position: absolute;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  height: 100vh;
  width: 100wh;
}
